@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

.container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
	/* white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis; */
}

.footer{
	background-color: #f7d736;
	margin: -8%;
    padding: 10px 0;
	bottom: 0;
	width : 100%;
	position:absolute;
	height: 6rem;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
   /* display: inline-block; */
   
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::after{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #1ee925;
	height: 2px;
	box-sizing: border-box;
	width: 100px;
}

.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}

.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #000000;
	background-color: #ffffff;
	box-shadow: inset 100px 0 0 0 #ede856;
	color:coral;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}




